
    
    #tfheader{
		background-color:#FFFFFF;
	}
	#tfnewsearch{
		float: left;
		padding:0px;
	}
	.tftextinput2{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
    .tftextinput4{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
    .tftextinput3{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
        padding-bottom: 120px;
        word-wrap: normal;
	}
	.tfbutton2 {
		margin: 0;
		padding: 5px 7px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
	}
	.tfclear{
		clear:both;
	}