body {
    /*padding-top: 51px;*/
}

.text-center {
    /*padding-top: 20px;*/
}
.col-xs-12 {
    /*background-color: #fff;*/
}
#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
    background-color: #FFFFFF ;
}
#sidebar .nav {
    width: 95%;
}
#sidebar li  {
    /*border:0 lightgray solid;*/
    /*border-bottom-width:1px;*/
    /*text-align: left;*/
}
#sidebar .btn-link{
    text-align: left;
    padding-left: 15px;
    color: #777;
}

#sidebar .btn-link:hover{
    color: #fff;
    background-color: #777;
}
#sidebar a{
    color: #777;
}

#sidebar hr{
    border-color: #777;
    border-width: 2px;
    width:85%;

}



/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top:0;
    }
}

